@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
 .main-detail {
    background-color: rgb(255, 255, 255);
    max-width: 100%;
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .item {
    padding: 10px;
    box-sizing: border-box;
  }
  
  .product-img,
  .product-det{
      display: flex;
      justify-content: center;
        flex: 1;
        background-color: rgb(255, 255, 255);
  }
  
  .prod-img-container,
  .prod-detail {
    width: 100%;
    height: 100%;
    /* background-color: blue; */
  }
  .prod-detail h1{
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    }
.sm-ft{
    margin-top: 10px;
    /* background-color: red; */
    font-size: 16px;
}
.sm-ft p:first-child{
    margin-bottom: 5px;
}

  .prod-img-container img{
      width: 100%;
      height: 100%;
  }


  .prod-desc{
      width: 80%;
      height: 130px;
      background-color: red;
  }
  .prod-price h2{
      margin-top: 10px;
      color: #1EA43A;
      font-size: 32px;
  }
  .tp-margin{
      width:80%;
      margin-top: 40px;
  }

  .tp-margin button{
      font-size: 14px;
      height: 45px;
  }

.num-counter{
    width: 30%;
    /* background-color: red; */
    margin-top: -6px;
}
.input-number-group {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
  .input-number-group input[type=number]::-webkit-inner-spin-button,
  .input-number-group input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
            appearance: none;
  }
  
  .input-number-group .input-group-button {
    line-height: calc(80px/2 - 13px);
  }
  
  .input-number-group .input-number {
    width: 35px;
    height: 30px !important;
    padding: 0 5px;
    vertical-align: top;
    text-align: center;
    outline: none;
    display: block;
    margin: 0;
  }
  
  .input-number-group .input-number,
  .input-number-group .input-number-decrement,
  .input-number-group .input-number-increment {
    border: 1px solid #cacaca;
    height: 40px;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    border-radius: 0;
  }
  
  .input-number-group .input-number-decrement,
  .input-number-group .input-number-increment {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    background: #e6e6e6;
    color: #0a0a0a;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 400;
  }
  
  .input-number-group .input-number-decrement {
    margin-right: 0.3rem;
  }
  
  .input-number-group .input-number-increment {
    margin-left: 0.3rem;
  }
  
  

  

  @media only screen and (max-width: 769px) {
    .prod-detail h1{
        font-size: 24px;

        }
    .product-img {
        flex-basis: 100%;
      }
      .prod-detail{
        padding-top: 40px;
    }
    .tp-margin{
        margin-top: 30px;
    }
  }