{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/baseStyle.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/profileStyle.css' %}">
    <link rel="stylesheet" href="{% static 'css/checkout.css' %}">
    <link rel="stylesheet" href="{%static 'css/search.css'%}">
    <link rel="stylesheet" href="{%static 'css/cart.css'%}">
    <link rel="stylesheet" href="{%static 'css/productdetail.css'%}">
    <link rel="stylesheet" href="{%static 'css/myorder.css'%}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script type="text/javascript" src="{% static 'js/home.js' %}"></script>
    <title>{% block title %}

        {% endblock %}</title>
 
</head>
<body>

        <nav class="navbar justify-content-between navbar-expand-lg">
            <a class="compName" href="{% url 'index' %}">Bramhayeni</a>
          
              <form method="get" action="/searchResult" class="form-inline">
                <input class="searchField" name="item_name" type="search" placeholder="Search">
                <button type="submit">
                    <img class="search_btn" src="{% static 'search.png' %}" alt="">
                </button>
              </form>

              <div class="cartProfile">
                <div class="cart">
                    <a href="{% url 'cartIndex' %}"><img class="cartImg" src="{% static 'cart.png' %}" alt=""></a>
                    <div class="count">
                        <h6>{{order.get_cart_items}}</h6>
                    </div>
                </div>
                {% if user.is_authenticated %}
                    <div class="auth_acc">
                        <!-- <a class="BringDropdown" href="">{{current_user}}</a> -->
                        <img onclick="dropdownContent()" src="{% static 'user.png' %}" alt="">
                        <div id="dropdown-content" class="dropdown-content hide">
                          <h6>Hello! {{current_user.first_name}}</h6>
                          <a href="{% url 'profile' %}">Account</a>
                          <a href="#">Wishlist</a>
                          <a href="{% url 'myOrder' %}">My Order</a>
                          <a href="#">Cancelled Order</a>
                          <a class="logoutUser" href="{% url 'logout' %}">Logout</a>
                        </div>

                    </div>
                {% else %}
                    <div class="acc">
                        <a href="{% url 'login' %}">Sign in</a>
                    </div>
                {% endif %}

                
                </div>

          </nav>

          <div class="RespSearch">
            <form method="get" action="/searchResult" class="respForm">
                <input class="searchField2" name="item_name" type="search" placeholder="Search">
                <button type="submit">
                    <img class="search_btn" src="{% static 'search.png' %}" alt="">
                </button>
              </form>
          </div>


       
              <div id="category_ctn" class="category_ctn">
                  
                  <div class="cat-list" id="style-1">

                        {% for cat in allcategory %}
                        <a href="/products/category/{{cat.id}}?name={{cat.name}}"><div>{{cat.name}}</div></a>
                        {% endfor %}
                </div>
                </div>    
                <div id ="pullOut" class="pullOut">
                    <span><h6>Category</h6></span>
                </div>
          <div class="baseCtn">
            {% block body %}

            {% endblock %}
        </div>

        <script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> 
    <script type="text/javascript" src="{% static 'js/cart.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/productDetail.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/checkout.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/myorder.js' %}"></script>
    <script>
        let user = '{{request.user}}'

        function getToken(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
        }
        const csrftoken = getToken('csrftoken');

         function dropdownContent(){
             if ($('#dropdown-content').hasClass('hide')){
                $('#dropdown-content').removeClass('hide')
                setInterval(() => {
                    $('#dropdown-content').addClass('hide')
                }, 7000);
             }
             
         }

         let cat_click=false
         $('#pullOut').click(function(){
            if (cat_click == false){
                document.getElementsByClassName("pullOut")[0].style.left = "180px"
                document.getElementsByClassName("category_ctn")[0].style.width = "180px"
                document.getElementsByClassName("category_ctn")[0].style.height = "300px"
                document.getElementsByClassName("category_ctn")[0].style.overflow = "auto"

                cat_click=true
            }
            else if(cat_click==true){
                document.getElementsByClassName("category_ctn")[0].style.width = "0px"
                document.getElementsByClassName("category_ctn")[0].style.height = "80px"
                document.getElementsByClassName("pullOut")[0].style.left = "0"
                document.getElementsByClassName("category_ctn")[0].style.overflow = "hidden"
                cat_click=false
            }
         })
    </script>

</body>
</html>