{% extends 'base.html' %}
{% block title %}
Cart
{% endblock %}
{% block body %}
<div class="tb-container">
    <div class="titleCtn extramargin d-flex align-items-center justify-content-between">
        <h4>Shopping Cart ( {{order.get_cart_items}} )</h4>
    </div>
    <div class="titleCtn d-flex align-items-center justify-content-between">
        <h4 style="margin-left: 40px;">Total: 
            <span style="color: #1EA43A; font-size: 16px;">
            रु{{order.get_cart_total}}
            </span></h4>
            <form action="/checkout/">
                <button class="checkoutBtn">Checkout</button>
            </form>
    </div>
    <table>
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Product</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Total</th>
          </tr>
        </thead>
        {% for item in items%}
        <tbody>
          <tr>
            <td data-label="">
                <div class="img-container">
                           <a href="/products/productDetail/{{item.product.id}}"> <img src="{{item.product.image}}" alt="{{item.product.name}}"> </a> 
                </div>
            </td>
            <td data-label="Product">{{item.product.name}}</td>
            <td data-label="Price">रु{{item.product.price}}</td>
            <td data-label="Quantity">
                <div class="qty-counter d-flex justify-content-center align-items-center">
                <div class=" cartinput-group cartinput-number-group">
                <div data-product={{item.product.id}} data-action="remove" class="cartinput-group-button update-cart">
                    <span class="cartinput-number-decrement">-</span>
                </div>
                <input class="cartinput-number" type="number" value="{{item.quantity}}" min="0" max="1000">
                <div data-product={{item.product.id}} data-action="add" class="cartinput-group-button update-cart">
                    <span class="cartinput-number-increment">+</span>
                </div>
                </div>


            </div></td>
            <td data-label="Total">रु{{item.get_total}}</td>

            
          </tr>
          
        </tbody>
        {% endfor %}
    </table>
    </div>
{% endblock %}