{% extends 'base.html' %}
{% load static %}

{% block body %}
<div class="titleCtn extramargin d-flex align-items-center">
    <h4>{{category_name.name}}</h4>
</div>


<div class="searchContainer d-flex">
    {% for schproduct in filteredProd%}
        <div class="SearchProductCard d-flex flex-column justify-content-between">
            <div class="ProdImg">
                <a href="/products/productDetail/{{schproduct.id}}"><img src="{{schproduct.image}}" alt=""></a>
            </div>
            <div class="ProdTitle">
                <h6>{{schproduct.name}}</h6>
                <hr>
            </div>
            <div class="ProdInfo d-flex">
                <div class="ProdPrice">
                    <h6>रु{{schproduct.price}}</h6>
                </div>
                <div class="ProdAvailability d-flex justify-content-end">
                    {% if schproduct.available == True %}
                        <h6>In Stock</h6>
                    {% else %}
                        <h6>Out of Stock</h6>
                    {% endif %}

                </div>
            </div>
            <div class="ProdAction d-flex justify-content-between">
                <div class="cartBtn d-flex justify-content-center align-items-center">
                    <button data-product="{{schproduct.id}}" data-action="add" class="addToCart update-cart">Add to Cart</button>
                </div>
                <div class="wishlistCtn d-flex align-items-center justify-content-center">
                    <button class="wishlist">Wishlist</button>
                </div>
            </div>
        </div>
        
    {% endfor %}

        
        

        
        
    </div>
{% endblock %}